
.textFieldContainer {
    margin: 5 5 5 5;
}

.text {
    font-size: 40;
    color: #aa2222;
}

.textfield {
    margin: 5 5 5 5;
}

.message {
    margin: 10 10 10 10;
}

.group {
    margin-bottom: 20;  
    margin-left: 5;
}